body {
  background-color: #f8f9fd;
  font-family: "Rounded-Regular";
  color: #4c5164;
}

p {
  margin-bottom: 0;
}

@font-face {
  font-family: "Rounded-Regular";
  src: url(./assets/fonts/Rounded-Regular.ttf);
}

@font-face {
  font-family: "Rounded-Bold";
  src: url(./assets/fonts/Rounded-Bold.ttf);
}

@font-face {
  font-family: "Rounded-Medium";
  src: url(./assets/fonts/Rounded-Medium.ttf);
}
